:root {
    /* variable */
    /* colores */
    --blanco: #fff;
    --negro: #000;
    --naranja: #f3873f;
    --morado: #f33fbd;

    /* tipografia */
    --tipografia_principal: "Poetsen";
}
a {
    text-decoration: none;
}
body {
    background-image: url(../../img/l.jpeg); /* Cambia el color de fondo del body */
    background-position: center;
    
    background-repeat: no-repeat;
    background-size: cover;
    overflow-x: hidden;
    display: flex; /* Usa flexbox para centrar el contenido */
    justify-content: center; /* Centra horizontalmente */
    
    /*cambio de forma de imagen*/
}

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}


.regisrto {
    background-color: var(--blanco);
    height: auto;
    padding-top: 5%;
}
.formulario {
    display: grid;
    place-items: center;
    height: auto;
    padding-left: 7%;
    padding-right: 7%;
}
.formulario--logo {
    width: 130px;
    border-radius: 50%;
    
}
.fromulario--titulo {
    padding-top: 2%;
    font-family: var(--tipografia_principal);
}
.formulario--formulario {
    width: 93%;
}
.formulario--formulario__campos {
    padding-top: 3%;
    
}
label {
    padding-bottom: 1%;
}
.formulario--formulario__yaeresusuario {
    display: flex;
    padding-top: 2%;
    justify-content: right;
    width: 100%;
}
.formulario--formulario__yaeresusuario_contraseña{
    display: flex;
    padding-top: 2%;
    justify-content: space-around;
    width: 100%;
    
}
.formulario--formulario__yaeresusuario_contraseña p span a {
    color: var(--naranja);
}
input[type="text"].form-control,
input[type="email"].form-control,
input[type="password"].form-control,
input[type="submit"].form-control {
    height: 50px;
}

.formulario--formulario__yaeresusuario p span a {
    color: var(--naranja);
}
.formulario--formulario--botones {
    padding-top: 5%;
}
.formulario--formulario--botones p {
    text-align: center;
}
.formulario--formulario--botones .btn-naranja {
    background-color: var(--naranja); /* Color de fondo naranja */
    color: var(--blanco); /* Color del texto blanco */
    border: none; /* Sin borde */
    padding: 10px 20px; /* Espaciado interno */
    border-radius: 5px; /* Bordes redondeados */
    transition:
        background-color 0.3s,
        color 0.3s; /* Transición suave */
}


/* Efecto hover */
.btn-naranja:hover {
    background-color: #ff934c; /* Cambio suave de color de fondo */
    color: var(--blanco); /* Cambio suave del color del texto a blanco */
}
.uso p {
    text-align: center;
    font-size: 0.8rem;

    position: relative;
    bottom: 0;
    padding-top: 5%;
    text-align: center;
    padding-bottom: 5%;

    /* Añade espacio para que el texto no esté pegado al borde */
}
.invitado p {
    font-size: 0.9rem;
}
.lo {
    margin: 0;
    padding: 0;
}
.lo2{
    background-image: url(../../img/fondo4.avif);
}
.btn-google {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 10px 20px;
    background-color: var(--banco); /* Color de fondo */
    border: 2px solid var(--negro); /* Borde de 2px negro */
    color: var(--negro); /* Color del texto */
    font-size: 16px;
    font-weight: bold;

    text-decoration: none;
    border-radius: 5px;
    transition:
        background-color 0.3s,
        color 0.3s;
}

/* Estilo para el icono de Google */
.btn-google .icon-google {
    margin-right: 10px;
    font-size: 24px;
}

/* Cambios al pasar el mouse sobre el botón */
.btn-google:hover {
    background-color: #000; /* Cambia el color de fondo al pasar el mouse */
    color: var(--blanco); /* Cambia el color del texto al pasar el mouse */
}
.centrar {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}


.conteiner{
    padding-bottom: 100%;
}

.contenido {
    text-align: center; /* Centra el texto horizontalmente */
}
@media screen and (max-width: 767px) {
    body {
        background-image: none; /* Elimina la imagen de fondo en dispositivos móviles */
        background-color: var(--blanco); /* Cambia el color de fondo a blanco */
    }
    .formulario--formulario__yaeresusuario_contraseña{
        padding-top: 5%;
        font-size: 0.9rem;
    }
    .regisrto{
        padding-top: 8%;
    }
    .formulario--logo {
        width: 150px;
        
        
    }
    .error {
        color: red;
        font-size: 0.8em;
        display: none;
    }
    .formulario--formulario {
        width: 98%;
    }
}
.ingrese{
    text-align: center;
    font-size: 1rem;
    padding-top: 5%;
}
.t{
    text-align: center;
}
.error {
    color: red;
    font-size: 0.9em;
    display: none;
}
.is-invalid {
    border-color: red;
}
.container{
    height: 100%;
}
.oculto {
    opacity: 0;
  }