@use "variables" as v;
.lo {
    display: flex;
    justify-content: center;

    .logo-login {
        display: grid;
        padding-top: 2rem;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(1, 1fr);
        align-items: center; /* Centra verticalmente */
        justify-items: center; /* Centra horizontalmente */
    }

    .logo {
        width: 100px;
        border-radius: 50%;
        .logo-login-nombre {
            font-family: Arial, Helvetica, sans-serif;
        }
    }

    
}
.formularo {
    display: grid;
    padding: 0 10% 0 10%;
    padding-top: 3%;
    .inputs-label {
        padding-top: 4%;
    }
    .pregunta {
        display: flex;
        padding-top: 5px;
        justify-content: right;

        a {
            color: v.$naranja;
        }
    }
}
.logo-login-nombre {
    font-family: v.$fuente_principal;
}
.los {
    display: inline-block;
    justify-content: center; /* Centra horizontalmente */
    align-items: center;
}
.botones {
    padding-top: 1%;

    .btn-orange {
        color: #fff;
        background-color: v.$naranja; /* Cambiamos el color a naranja */
        border-color: v.$naranja; /* Cambiamos el color del borde a naranja */
        &:hover {
            color: #fff;
            background-color: v.$naranja; /* Cambiamos el color de fondo al pasar el mouse */
            border-color: v.$naranja; /* Cambiamos el color del borde al pasar el mouse */
        }
    }
    p {
        text-align: center;
        align-items: center;
        align-content: center;
    }
}
.los{
    .servicios {
        font-size: small;
        text-align: center;
        padding-top: 100px;
        p {
            text-align: center;
            font-size: small;
        }
    }
}