body {
    background-color: #f9f9f9;
    font-family: 'Arial', sans-serif;
}

h3 {
    font-weight: bold;
}

.video-info {
    margin-top: 10px;
}

.btn-outline-primary {
    color: #0d6efd;
    border-color: #0d6efd;
    border-radius: 20px;
    transition: background-color 0.3s, color 0.3s;
}

.btn-outline-primary:hover {
    background-color: #0d6efd;
    color: #fff;
}

.btn-outline-secondary {
    color: #6c757d;
    border-color: #6c757d;
    border-radius: 20px;
    transition: background-color 0.3s, color 0.3s;
}

.btn-outline-secondary:hover {
    background-color: #6c757d;
    color: #fff;
}

.btn-outline-success {
    color: #198754;
    border-color: #198754;
    border-radius: 20px;
    transition: background-color 0.3s, color 0.3s;
}

.btn-outline-success:hover {
    background-color: #198754;
    color: #fff;
}

.btn-outline-info {
    color: #0dcaf0;
    border-color: #0dcaf0;
    border-radius: 20px;
    transition: background-color 0.3s, color 0.3s;
}

.btn-outline-info:hover {
    background-color: #0dcaf0;
    color: #fff;
}

.btn-outline-dark {
    color: #212529;
    border-color: #212529;
    border-radius: 20px;
    transition: background-color 0.3s, color 0.3s;
}

.btn-outline-dark:hover {
    background-color: #212529;
    color: #fff;
}

.comment img {
    width: 40px;
    height: 40px;
}

.related-videos .list-group-item {
    display: flex;
    align-items: flex-start;
}

.related-videos img {
    width: 100px;
    height: auto;
    border-radius: 5px;
}

.related-videos h6 {
    margin-bottom: 0.5rem;
}

.related-videos p {
    margin-bottom: 0;
}

.related-videos p.text-muted {
    font-size: 0.85rem;
}

.comment .btn-sm {
    border-radius: 15px;
    transition: background-color 0.3s, color 0.3s;
}

.comment .btn-sm:hover {
    background-color: #e9ecef;
}

.comment .btn-sm .fas {
    margin-right: 5px;
}
.jugarahora {
    background-color: #f3873f;
    margin-top: 10px;
    height: 50px; /* Ajuste la altura según el diseño deseado */
    width: 140px; /* Ajuste el ancho según el diseño deseado */
    border-radius: 10px;
    color: #fff;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none; /* Para eliminar el subrayado predeterminado en los enlaces */
    border: none; /* Eliminar el borde del botón */
    cursor: pointer;
    transition: background-color 0.3s;
}

.jugarahora:hover {
    background-color: #e57632; /* Cambio de color al pasar el ratón */
}
.rating {
    font-size: 24px; /* Tamaño de las estrellas */
    color: #ddd; /* Color de las estrellas vacías */
}

.rating .fa-star {
    cursor: pointer;
}

.rating .fa-star:hover,
.rating .fa-star:hover ~ .fa-star {
    color: #fdd835; /* Color de las estrellas al pasar el ratón */
}

.rating .fa-star.fas {
    color: #fdd835; /* Color de las estrellas pintadas */
}
.sepa{
    margin-right: 10px;
}
#favoriteBtn {
    display: inline-block;
    padding: 8px 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    transition: color 0.3s ease, background-color 0.3s ease;
}

#favoriteBtn:hover {
    background-color: #f8d7da; /* Color de fondo al pasar el ratón (rojo claro) */
    color: #721c24; /* Color de texto al pasar el ratón (rojo oscuro) */
}

#favoriteBtn.favorited {
    color: #dc3545; /* Color del corazón lleno (rojo) */
}

#favoriteBtn.favorited:hover {
    background-color: #dc3545; /* Color de fondo al pasar el ratón (rojo) */
    color: #fff; /* Color de texto al pasar el ratón (blanco) */
}

#favoriteBtn .fas,
#favoriteBtn .far {
    margin-right: 5px; /* Espacio entre el icono y el texto */
}

/* Estilos específicos para el corazón vacío (far) y lleno (fas) */
#favoriteBtn .fas.fa-heart {
    color: #dc3545; /* Color del corazón lleno (rojo) */
}

#favoriteBtn .far.fa-heart {
    color: #ccc; /* Color del corazón vacío (gris claro) */
}
/* Estilos para la Ventana Modal */
.modal-content {
    border: none;
    border-radius: 10px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
}

.modal-header {
    background-color: #f3873f; /* Color de fondo del encabezado */
    color: #fff; /* Color del texto del encabezado */
    border-bottom: none; /* Sin borde inferior en el encabezado */
    border-radius: 10px 10px 0 0; /* Borde redondeado en la parte superior */
}

.modal-title {
    font-weight: bold;
}

.modal-body {
    padding: 20px;
}

.share-option {
    width: 100%;
    text-align: left;
}

.share-option i {
    margin-right: 10px;
}

